$font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-serif: "Source Serif 4", Georgia, "Times New Roman", serif;

$fs-100: 0.875rem;
$fs-200: 1rem;
$fs-300: 1.125rem;
$fs-400: 1.25rem;
$fs-500: 1.5rem;
$fs-600: 1.875rem;
$fs-700: 2.25rem;
